# Данные к config.ini

SECRET_TOKEN=токен доступа к облачному хранилищу
PATH_FOLDER=путь к синхронизируемой папке
FOLDER_CLOUD_STORAGE=имя папки в облачном хранилище
SYNCHRONIZATION_PERIOD=период синхронизации
PATH_FILE_LOG=путь к файлу лога
